/* AdminLoginComp.css */
#admin-login {
    background-color: rgba(26, 25, 25, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 300px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Arial, sans-serif;
}

#admin-login h2 {
    text-align: center;
    color: #ffcc00; /* Sporty yellow color */
}

#admin-login form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#admin-login div {
    /* display: flex;
    flex-direction: column;
    gap: 5px; */

    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: -5px;
    width: 261px;
}

#admin-login label {
    font-weight: bold;
}

#admin-login input[type="email"],
#admin-login input[type="password"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#admin-remember-me {
    display: flex;
    align-items: center;
    gap: 5px;
}

#admin-remember-me input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#admin-remember-me label {
    cursor: pointer;
}

#admin-login button[type="submit"] {
    /* padding: 10px;
    background-color: #ffcc00; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease; */

        padding: 10px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3sease;
    /* margin-left: -90px; */
    width: 257px;
}

#admin-login button[type="submit"]:hover {
    background-color: #e6b800;
}

#admin-login p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
