/* external.css */

.about-container {
    background: linear-gradient(145deg, #ffffff, #e0e0e0);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    margin: 30px;
    text-align: left;
    height: 100vh;
}

.heading_about {
        font-size: 41px;
        text-align: center;
        color: #333333;
        background: linear-gradient(145deg, #af4c4c, #3c388e);
        padding: 1px;
        border-radius: 72px;
        font-family: cursive;
        margin-top: 5px;
        color: #ffffff;
    
}

.about-content {
    font-family: 'Verdana', sans-serif;
    color: #333333;
}

.about-section {
    margin-bottom: 30px;
}

.about-section h2 {
    font-size: 28px;
    color: #388E3C;
    margin-bottom: 10px;
}

.about-section p, .about-list {
    font-size: 18px;
    line-height: 1.6;
}

.about-list {
    list-style-type: none;
    padding-left: 0;
}

.about-list li {
    margin-bottom: 10px;
}

.about-list li strong {
    color: #4CAF50;
}

