/* HomeNav.css */
.home-nav-container {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/football_3.jpg'); /* Update this path to your background image */
    background-size: cover;
    background-position: center;
}

.home-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -350px;
    right: -750px;
    border: #ffcc00;
}

#welcome {
    margin-top: 20px;
    font-size: 24px;
    color: #ffcc00; /* Sporty yellow color */
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
